---
layout: "layouts/content.njk"
title: Search
description: TK
search: true
---

<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>