---
layout: layouts/default.njk
---

<div class="l-wrapper play-wrapper">
  <div class="page-icon" role="presentation">
    {% icon 'strategy' %}
  </div>

<div class="l-section">
<div class="l-stack">
      <h2>{{ title }}</h2>
      {{ content | md | safe }}
</div>
</div>
</div>